<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>knowledgegroup</key>
	<array>
		<string>View</string>
		<string>基础</string>
		<string>Other</string>
	</array>
	<key>knowledge</key>
	<array>
		<array>
			<string>Layout</string>
			<string>UIButton</string>
			<string>UILabel</string>
			<string>UIImageView</string>
			<string>UITableView</string>
			<string>UIWebView</string>
			<string>UIAlertController</string>
			<string>UITextField</string>
			<string>UIPickerView</string>
			<string>UIDatePicker</string>
		</array>
		<array>
			<string>Data</string>
			<string>CoreData</string>
			<string>Thread</string>
			<string>Animation</string>
			<string>Network</string>
			<string>Gesture</string>
		</array>
		<array>
			<string>SystemService</string>
			<string>Keyboard</string>
			<string>Media</string>
			<string>CameraA</string>
			<string>CameraB</string>
		</array>
	</array>
</dict>
</plist>
